@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

.imgLogo {
  width: 60%;
}

.cardCustom {
  width: 30em;
  border-radius: 10px;
}

.title {
  font-size: x-large;
}

.btnCustom {
  width: 100%;
}

.mini {
  font-size: x-small;
  margin-top: 5px;
  color: rgb(134, 130, 130);
}
