.navbar {
  background-color: #2fb5bf;
}

.footer {
  background-color: #2fb5bf;
  color: white;
  font-size: small;
}

.imgLogo {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.buttonPower {
  font-size: x-large;
  color: white;
}

.buttonPower:hover {
  cursor: pointer;
  border: solid;
  border-radius: 5px;
}

.mini {
  font-size: smaller;
}

.logoutDesc {
  font-size: 10px;
  color: white;
}

.submissionInfo {
  border-radius: 8px;
  box-shadow: 2px 3px 2px 2px rgb(117, 115, 115);
  padding: 10px;
}

.buttonAction {
  font-size: xx-small;
  width: 100%;
}

@media (min-width: 768px) {
  .breakPoints {
    display: inline;
  }
}

@media (max-width: 767.98px) {
  .breakPoints {
    display: none;
  }
}
